# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# database
/prisma/db.sqlite
/prisma/db.sqlite-journal
db.sqlite

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
# do not commit any .env files to git, except for the .env.example file. https://create.t3.gg/en/usage/env-variables#using-environment-variables
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# idea files
.idea
# clerk configuration (can include secrets)
/.clerk/

certificates
.s3/MOLECULES/INDEX.json
.s3/MOLECULES/molecules.xlsx
.s3/MOLECULES/D18/C(K)_TEY_ANSTO_SXR_Collins_Wei-You-Group.csv
.s3/MOLECULES/D18/C(K)_TEY_ANSTO_SXR_Collins_Wei-You-Group.json
.s3/MOLECULES/D18/d18.cdxml
.s3/MOLECULES/D18/DATA.xlsx
.s3/MOLECULES/D18/IMG.svg
.s3/MOLECULES/D18/METADATA.json
.s3/MOLECULES/D18/S(K)_FY_NSLSII_SMI_Collins_Wei-You-Group.csv
.s3/MOLECULES/D18/S(K)_FY_NSLSII_SMI_Collins_Wei-You-Group.json
.s3/MOLECULES/ITIC/C(K)_TEY_ANSTO_SXR_Collins_1-Material.csv
.s3/MOLECULES/ITIC/C(K)_TEY_ANSTO_SXR_Collins_1-Material.json
.s3/MOLECULES/ITIC/C(K)_Trans_ALS_BL532_Collins_1-Material.csv
.s3/MOLECULES/ITIC/C(K)_Trans_ALS_BL532_Collins_1-Material.json
.s3/MOLECULES/ITIC/DATA.xlsx
.s3/MOLECULES/ITIC/IMG.svg
.s3/MOLECULES/ITIC/itic.cdxml
.s3/MOLECULES/ITIC/METADATA.json
.s3/MOLECULES/ITIC/N(K)_PEY_ANSTO_SXR_Collins_1-Material.csv
.s3/MOLECULES/ITIC/N(K)_PEY_ANSTO_SXR_Collins_1-Material.json
.s3/MOLECULES/ITIC/S(K)_FY_NSLSII_SMI_Collins_1-Material.csv
.s3/MOLECULES/ITIC/S(K)_FY_NSLSII_SMI_Collins_1-Material.json
.s3/MOLECULES/N2200/C(K)_TEY_ANSTO_SXR_Collins_1-Material.csv
.s3/MOLECULES/N2200/C(K)_TEY_ANSTO_SXR_Collins_1-Material.json
.s3/MOLECULES/N2200/DATA.xlsx
.s3/MOLECULES/N2200/IMG.svg
.s3/MOLECULES/N2200/METADATA.json
.s3/MOLECULES/N2200/n2200.cdxml
.s3/MOLECULES/P3HT/C(K)_TEY_ANSTO_SXR_Collins_Wei-You-Group.csv
.s3/MOLECULES/P3HT/C(K)_TEY_ANSTO_SXR_Collins_Wei-You-Group.json
.s3/MOLECULES/P3HT/DATA.xlsx
.s3/MOLECULES/P3HT/IMG.svg
.s3/MOLECULES/P3HT/METADATA.json
.s3/MOLECULES/P3HT/p3ht.cdxml
.s3/MOLECULES/P3HT/S(K)_FY_NSLSII_SMI_Collins_Wei-You-Group.csv
.s3/MOLECULES/P3HT/S(K)_FY_NSLSII_SMI_Collins_Wei-You-Group.json
.s3/MOLECULES/PBDB-T/C(K)_TEY_ANSTO_SXR_Collins_Sigma Aldrich.json
.s3/MOLECULES/PBDB-T/C(K)_TEY_ANSTO_SXR_Collins_Sigma-Aldrich.json
.s3/MOLECULES/PBDB-T/DATA.xlsx
.s3/MOLECULES/PBDB-T/IMG.svg
.s3/MOLECULES/PBDB-T/METADATA.json
.s3/MOLECULES/PBDB-T/pbdbt.cdxml
.s3/MOLECULES/PBDB-T/S(K)_FY_NSLSII_SMI_Collins_Sigma Aldrich.csv
.s3/MOLECULES/PBDB-T/S(K)_FY_NSLSII_SMI_Collins_Sigma Aldrich.json
.s3/MOLECULES/PBDB-T/S(K)_FY_NSLSII_SMI_Collins_Sigma-Aldrich.csv
.s3/MOLECULES/PBDB-T/S(K)_FY_NSLSII_SMI_Collins_Sigma-Aldrich.json
.s3/MOLECULES/PBTTT/C(K)_TEY_ANSTO_SXR_Collins_1-Material.csv
.s3/MOLECULES/PBTTT/C(K)_TEY_ANSTO_SXR_Collins_1-Material.json
.s3/MOLECULES/PBTTT/C(K)_Trans_ALS_BL532_Collins_1-Material.json
.s3/MOLECULES/PBTTT/DATA.xlsx
.s3/MOLECULES/PBTTT/IMG.svg
.s3/MOLECULES/PBTTT/METADATA.json
.s3/MOLECULES/PBTTT/pbttt.cdxml
.s3/MOLECULES/PBTTT/S(K)_FY_NSLSII_SMI_Collins_1-Material.csv
.s3/MOLECULES/PBTTT/S(K)_FY_NSLSII_SMI_Collins_1-Material.json
.s3/MOLECULES/PC61BM/C(K)_TEY_ANSTO_SXR_Collins_Nano-C-nanostructured-carbon.csv
.s3/MOLECULES/PC61BM/C(K)_TEY_ANSTO_SXR_Collins_Nano-C-nanostructured-carbon.json
.s3/MOLECULES/PC61BM/DATA.xlsx
.s3/MOLECULES/PC61BM/IMG.svg
.s3/MOLECULES/PC61BM/METADATA.json
.s3/MOLECULES/PC61BM/pc61bm.cdxml
.s3/MOLECULES/PC71BM/C(K)_TEY_ANSTO_SXR_Collins_Nano-C-nanostructured-carbon.csv
.s3/MOLECULES/PC71BM/C(K)_TEY_ANSTO_SXR_Collins_Nano-C-nanostructured-carbon.json
.s3/MOLECULES/PC71BM/C(K)_Trans_ALS_BL532_Collins_Nano-C-nanostructured-carbon.csv
.s3/MOLECULES/PC71BM/C(K)_Trans_ALS_BL532_Collins_Nano-C-nanostructured-carbon.json
.s3/MOLECULES/PC71BM/DATA.xlsx
.s3/MOLECULES/PC71BM/IMG.svg
.s3/MOLECULES/PC71BM/METADATA.json
.s3/MOLECULES/PC71BM/pc71bm.cdxml
.s3/MOLECULES/Y11/C(K)_TEY_ANSTO_SXR_Collins_1-Material.json
.s3/MOLECULES/Y11/C(K)_Trans_ALS_BL532_Collins_1-Material.csv
.s3/MOLECULES/Y11/C(K)_Trans_ALS_BL532_Collins_1-Material.json
.s3/MOLECULES/Y11/DATA.xlsx
.s3/MOLECULES/Y11/IMG.svg
.s3/MOLECULES/Y11/METADATA.json
.s3/MOLECULES/Y11/N(K)_PEY_ANSTO_SXR_Collins_1-Material.csv
.s3/MOLECULES/Y11/N(K)_PEY_ANSTO_SXR_Collins_1-Material.json
.s3/MOLECULES/Y11/S(K)_FY_NSLSII_SMI_Collins_1-Material.csv
.s3/MOLECULES/Y11/S(K)_FY_NSLSII_SMI_Collins_1-Material.json
.s3/MOLECULES/Y11/y11.cdxml
.s3/MOLECULES/Y6/C(K)_TEY_ANSTO_SXR_Collins_1-Material.json
.s3/MOLECULES/Y6/C(K)_Trans_ALS_BL532_Collins_1-Material.csv
.s3/MOLECULES/Y6/C(K)_Trans_ALS_BL532_Collins_1-Material.json
.s3/MOLECULES/Y6/DATA.xlsx
.s3/MOLECULES/Y6/IMG.svg
.s3/MOLECULES/Y6/METADATA.json
.s3/MOLECULES/Y6/S(K)_FY_NSLSII_SMI_Collins_1-Material.csv
.s3/MOLECULES/Y6/S(K)_FY_NSLSII_SMI_Collins_1-Material.json
.s3/MOLECULES/Y6/Y6.cdxml
