@import "tailwindcss";

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-wsu-crimson-light: #a60f2d;
  --color-wsu-crimson-dark: #ca1237;
}

/* Added WSU Custom Colors */

html {
  @apply bg-white dark:bg-gray-900;
}
